<!-- app/views/pages/home.html.erb -->

<div class="home-banner">
  <h1>Fake AirBnB</h1>
  <p>
    <span data-controller="typed-js"></span>
  </p>
</div>

<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= "   Downtown Prague is where to find the true feel of this city, which is and always has been a crossroads of cultures and styles.
        In this heritage zone, the past and present shake hands over a café table on the airy outdoor terracing of old ‘pavlatsche’ buildings
        and the unique spirit of Prague is instilled in its secluded nooks with their picturesque wine bars and galleries teeming with works by local artists." %>

      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 75 %>
    </div>
  </div>
</div>-->

    <div class="item" data-aos="fade-up" > Downtown Prague is where to find the true feel of this city, which is and always has been a crossroads of cultures and styles.</div>
    <div class="item" data-aos="fade-down" data-aos-duration="2000"> In this heritage zone, the past and present shake hands over a café table on the airy outdoor terracing of old ‘pavlatsche’ buildings</div>
    <div class="item" data-aos="zoom-in"> Downtown Prague is where to find the true feel of this city, which is and always has been a crossroads of cultures and styles.</div>
    <div class="item" data-aos="zoom-out"> In this heritage zone, the past and present shake hands over a café table on the airy outdoor terracing of old ‘pavlatsche’ buildings</div>
